// 弹框
.ant-modal-title {
    color: @black-color  !important;
}

.ant-modal-content {
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.2);
    .ant-btn-primary {
        .fl-ant-primary-btn;
    }
    .ant-btn-background-ghost.ant-btn-primary {
        .fl-ant-ghost-primay-btn;
    }
}

.ant-modal-close-x {
    width: 66px;
    .anticon svg {
        font-size: 14px !important;
        color: @light-gray-color  !important;
    }
}

.ant-modal-body {
    .ant-modal-confirm-body-wrapper {
        padding-top: 16px;
        .ant-modal-confirm-btns {
            .btnStyle;
        }
    }
    p {
        margin: 0;
    }
}

.ant-modal-confirm .ant-modal-confirm-btns {
    margin-top: 12px !important;
}

.ant-modal-footer {
    .btnStyle;
}
.ant-drawer-body p {
    margin: 0;
}