.fulu-wrapper {
    .ant-radio-button-wrapper {
        line-height: 30px;
        height: 30px;
        min-width: 80px;
        padding-left: @basePadding;
        padding-right: @basePadding;
        &:hover {
            background: @primaryHoverColor;
            border-color: @primaryHoverColor;
            color: #fff;
        }
        &.ant-radio-button-wrapper-disabled {
            border-color: @disabledColor;
            color: @disabledColor;
            background: transparent;
            &.ant-radio-button-wrapper-checked {
                background: @disabledColor;
                color: #fff;
                border-color: @disabledColor;
            }
        }
    }
}
.ant-radio-group-solid {
    .ant-radio-button-wrapper {
        text-align: center !important;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        background: @primaryColor !important;
        border-color: @primaryColor !important;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
        color: #fff;
        background: #40a9ff !important;
        border-color: #40a9ff !important;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
        color: #fff;
        background: #096dd9 !important;
        border-color: #096dd9 !important;
    }
}