.myslider {
    .title {
        font-size: 16px;
        color: #ffffff;
        white-space: nowrap;
        animation: fadeInLeft 500ms linear;
    }
    .white-icon, .img-icon {
        margin-right: 10px;
    }
    @keyframes fadeInLeft {
        from {
            transform: translateX(5px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .menu-expand-btn {
        position: absolute;
        font-size: 18px;
        bottom: 5px;
        right: 5px;
        cursor: pointer;
        transition: color .3s;
        color: #9fa7ae;
        &:hover {
            background: #121b24;
            color: #ffffff;
        }
    }
    .menu-container {
        position: absolute;
        left: 0;
        top: 64px;
        right: 0;
        bottom: 0;
        overflow: auto;
        .anticon {
            font-size: 18px;
            vertical-align: text-bottom;
        }
        .ant-menu-dark .ant-menu-inline.ant-menu-sub {
            background: #121b24;
            box-shadow: 0 0 0;
        }
        object {
            position: relative;
            top: 6px;
            margin-right: 10px;
        }
        .img-icon {
            margin-right: 10px;
        }
    }
    .ant-menu-sub.ant-menu-inline > .ant-menu-item,
    .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
        line-height: 40px;
        height: 40px;
    }
    .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-inline-collapsed > .ant-menu-item {
        padding: 0 24px !important;
    }
    .ant-menu-inline-collapsed {
        width: 64px;
    }
}